{# If no actual heading label was passed along, this component should not render. #}
{% if heading.label %}
  {# Dynamically determine the title h level, or fallback to h2 by default. #}
  {% set level = 'h' ~ (heading.level?:2) %}
  {% set variation = '__h' ~ (heading.variation?:(heading.level?:2)) %}

  {# heading id used for aria roles or anchor links. not rendered by default and  #}

  <{{ level }}
    class="a-heading{{variation}}"
    data-align="{{ heading.align?:'left' }}"
    data-theme="{{ heading.theme?:'normal' }}"
    {% if heading.id and not heading.url %}
    id="{{ heading.id }}"
    {% endif %}
  >
    {% if heading.url %}
      <a href="{{ heading.url }}" {% if heading.id and heading.url %}id="{{ heading.id }}"{% endif %}>{{ heading.label }}</a>
    {% else %}
      {{ heading.label }}
    {% endif %}
  </{{ level }}>
{% endif %}
