<div class="m-card {{ card_variation }} ">
  <a href="{{ card_url }}" class="m-card__banner" aria-labelby="{{ card_id }}">
    <span class="u-visually--hidden">banner image</span>
    {{ card_img }}
  </a>

  <div class="m-card__info">
    <div class="m-card__title">
      {% include "@atoms/00-type/00-heading.twig"
        with {
          heading: {
            label: card_title,
            url: card_url,
            level: 2,
            variation: 4,
            id: card_id,
          }
        }
      %}
    </div>
    <div class="m-card__body">{{ card_text }}</div>
  </div>
</div>
